/* EXACT COLORS PICKED FROM YOUTUBE */
body {
  background-color: #0f0f0f;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.badge {
  cursor: pointer;
}

/* WRAPPER FOR SEARCH INPUT AND BUTTON WITH ONCLICK */
#search-field-wrapper {
  min-width: 500px;
  margin: auto;
}

/* MEDIA QUERIES FOR SM SCREENS */
@media screen and (max-width: 480px) {
  #search-field-wrapper {
    min-width: auto;
  }
}

/* REPLACING BOOTSTRAP CLASS STYLES */
.bg-dark {
  background-color: #0f0f0f !important;
}